<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'perfil/cliente/transferencia/style.css' %}">
    <title>Transferência</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h2>Transferência Bancária</h2>
        <div class="messages">
            {% for message in messages %}
                <p class="{% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </p>
            {% endfor %}
        </div>

        <label>CPF do destinatário:</label>
        <input type="text" name="cpf" placeholder="XXX.XXX.XXX-XX" required>

        <label>Valor (R$):</label>
        <input type="number" step="0.01" min="0.01" name="valor" placeholder="Ex: 150.00" required>

        <div class="button-group">
            <button type="submit">Enviar</button>
            <a href="{% url 'users:perfil' %}" class="btn-voltar">⬅ Voltar</a>
        </div>
    </form>
</body>
</html>
